@import 'normalize.css';
/*
colors
#4A4A4A - dark gray
#F9C05D - yellow
#0DB2AA - teal
#F2F2F2 - light gray*/

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}

h1, h2, p {
	margin-bottom: 16px;
}
h1 {
	display: none;
}
h2 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.1;
}
h2 span, h3 {
	font-size: 1em;
	font-weight: 400;
}
h4 {
	font-size: 1.2em;
}
p {
	font-size: 0.8em;
}

a {
	color: #fff;
	line-height: 1.2;
}

section {
	display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
}

.text-block, section img {
	padding: 10%;
}

#title {
	background-image: url(../img/title-background.jpg);
	background-size: cover;
	border-top: 6px solid #4a4a4a;
}
#logo {
	width: 60%;
	max-width: 720px;
	min-width: 320px;
	height: auto;
	padding: 0;
}
#title a {
	width: 5%;
	padding-bottom: 20px;
}
#title a img{
  width: 100%;
  height: auto;
  padding: 0;
}
#about {
	background-color: #4A4A4A;
}
#explain {
	background-image: url(../img/coffee-shops.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}
#event, #join {
  color: #fff;
}
#join {
	background-color: #0DB2AA;
}
#join a {
	text-decoration: none;
  color: #fff;
}

#join img {
	width: 20%;
	max-width: 150px;
}

@media (min-width: 800px) {
	h2 {
  font-size: 1.8em;
	}
	p {
		font-size: 1em;
	}
	#about, #join {
		flex-direction: row;
	}

	.text-block, section img {
	padding: 5% 10%;
	width: 50%;
	}
}










